{% extends 'base.html' %}

{% load static %}


{% block headscripts %}
    <script>
      tinymce.init({
        selector: 'edittitle',
        inline: true,
        toolbar: 'undo redo',
        menubar: false,
        branding: false
      });
      tinymce.init({
        image_dimensions: false,
               image_class_list: [
                  {title: 'Responsive', value: 'img-responsive'}
              ],
        selector: '#edit_issue_textarea',
        branding: false,
        height: 500,
        plugins: [
          'advlist autolink lists link image charmap print preview hr anchor pagebreak',
          'searchreplace wordcount visualblocks visualchars code fullscreen',
          'insertdatetime media nonbreaking save table contextmenu directionality',
          'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
        ],
        toolbar1: 'undo redo | insert | fontselect | fontsizeselect | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
        image_advtab: true,
        templates: [
          { title: 'Test template 1', content: 'Test 1' },
          { title: 'Test template 2', content: 'Test 2' }
        ],
        content_css: [
          '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
          '//www.tinymce.com/css/codepen.min.css'
        ]
      });
    </script>
{% endblock headscripts %}



{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'issuesite:saveIssue' issue.key.id %}" method="post">

	{% csrf_token %}

	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-success" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				Tags <i class="fas fa-caret-down"></i>
			</button>
			<hr class="featurette-divider">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="collapse" id="collapseExample">
	            <div class="well">
		            <div class="row">
		            	<div class="col-sm-10">
			            	<h5>Topics related to this issue.</h5>
			           	</div>
			        </div>
		            <div  id="edit_issue_taggle" class="textarea input clearfix example1"></div>
	            <div class="row">
	            	<div class="col-sm-4">
		            	<button type="submit" class="btn btn-primary">Save</button>
		           	</div>
		        </div>
	        	</div>
			  <hr class="featurette-divider">
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'sourcebasesite/taggle.js-1.11.1/src/taggle.min.js' %}"></script>
	<script>
		var taggle = new Taggle('edit_issue_taggle', {
    		tags: {{ tags|safe }},
    		additionalTagClasses: 'btn btn-danger',
		});
	</script>



<!-- 


	<script type="Javascript">
		var edit_source_taggle = new Taggle('edit_source_taggle');
		var tags = "{{tags}}"
		console.log(tags)
		for (var i = 0; i < tags.length; i++) {
			edit_source_taggle.add(tags[i].title);
		}
	</script>

 -->
	<div class="form-group">

		<div class="row">
			<div class="col-sm-12 title">
				<label for="usr" class="float-left"><h3>Title: </h3></label> <input name="title" id="title" value="{{ issue.title }}" class="form-control" autocomplete="off">
			</div>

		</div>
	    

		<div id="firepad"></div>

	    <div class="row">
	    	<div class="col-sm-12">
	    		<textarea class="form-control" rows="5" name="description" id="edit_issue_textarea" >{{ issue.description }}
	    		</textarea>
	    	</div>
	    	
	    </div>

	    <br /> 
	    <div class="row">
			<div class='col-sm-12 col-sm-12 col-md-12'>
				<div class="row">
					<div class="col-sm-12">
						<h2>Claims</h2>
						<a data-toggle="modal" data-target="#addClaimModal" href="#"><span class="btn btn-primary" aria-hidden="true">Add Claim</span></a>
						
					</div>
					<hr class="featurette-divider">
				</div>
				<div class="row">
					<div class='col-sm-12 col-sm-12 col-md-12'>
						{% if claims %}
						    <div class='list-group'>
						    {% for claim in claims %}
						        <a target="_blank" class='list-group-item list-group-item-action' href="{% url 'issuesite:claimDetail' issueID=issue.slug claimID=claim.slug %}">
						        	<h3>{{ claim.title | truncatechars:100}}</h3>
						        	<p> {{ claim.description | safe | truncatechars:300}} </p>
						        </a>
						    {% endfor %}
						    </div>
						{% else %}
							<p>No claims are available.</p>
						{% endif %}
					</div>
				</div>
				<div class="row">

				</div>
			</div>
		</div>
	    <div class="row">
			<div class='col-sm-12 col-sm-12 col-md-12' style="margin-top: 0.5em;">
	  			<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</form>

<!-- Modal -->
<div class="modal fade" id="addClaimModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a new issue</h4>
      </div>
      <form action="{% url 'issuesite:newClaim' issueID=issue.slug %}" method="post">
      <div class="modal-body">
			{% csrf_token %}
			<div class="form-group">
				<label for="title"> Choose a claim title: </label>
    			<input type="text" class="form-control" name="claimTitle" id="claimTitle" autocomplete="off"/>
    			<input type="hidden" name="issueTitle" value=" {{issue.title}} " autocomplete="off">
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button submit" class="btn btn-primary">Continue</button>
      </div>
      </form>
    </div>
  </div>
</div>


{% endblock content %}


{% block scripts %}
	<script>
		var menuid = "navbar-issues";
		$(function() {
		    $('#' + menuid).addClass("active");
		});
	</script>

{% endblock scripts %}