{% extends 'base.html' %}




{% block content %}
      <!-- Three columns of text below the carousel -->

<hr class="featurette-divider">
	<div class="content-container">
		<div class="row about">
			<div class="col-sm-12">
				<h1>About Sourcebase</h1>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Source Connect is a database builder and explorer designed to make it easier to build, 
				explore, and maintain a research database consisting of varous sources.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Instead of using a purely hierarchical, folder-type organization of the sources, 
				the organizational model used aims to emulate the ways data storage and access work 
				in the human brain, as we experience them conciously.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Instead of using a purely hierarchical, folder-type organization of the sources, 
				the organizational model used aims to emulate the ways data storage and access work 
				in the human brain, as we experience them conciously.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				The organizational scheme aims is to combine hierarchy with connectivity:
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Hierarchy: When we look up a keyword or key phrase/question corresponding to a topic, 
				the search should return lists of topics of a broader nature, or supertopics (ex: "Canada" 
				when looking up "Canadian Economy") and those of a more specific nature, or subtopics 
				(ex: "Canada Trade Agreements" when looking up "Canadian Economy").
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				For a given topic, the sources relevant to that topic (associated with all sub-topics) 
				will be returned for access, and the returned broader and more specific topics can be 
				used to broaden or narrow the source search results.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Connectivity: The listed sources can and often will be associated with multiple topics, 
				which will be used as the search phrases. The sources will not fall exclusively under 
				one "folder" with the topic as the title, but will rather be associated with many topics. 
				This will allow the searchability of the sources to go beyond what is possible by simply 
				using words contained in the text or title of a source. It will allow certain connections 
				to be made, stored, and later used when we forget about them, that can only be made by 
				human beings who can read, interpret, and fully appreciate human language.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				<h2>The Issues Site</h2>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				The issue site is a platform and resource where people can learn about and help develop discussions of various issues.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				<h3>What is it?</h3>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Many websites exist which allow people to ask and answer questions. Examples 
				include Quora and StackExchange. Websites like Wikipedia allow people to contribute to a single
				article or page which provides information about a certain subject, like cats, Algebra, or the Iraq War. 
				Often, in these articles, various issues are addressed and presented in the form of information 
				about the subject. For example, on the Iraq war, we can ask what caused it? Or what were its ramifications in Iraq 
				and the region? How did it affect US-Arab relations? One can also look up a question like the ones mentioned
				and find articles published in journals or news sites, books, or videos attempting to answer the question.
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				While these sources are often great and provide for a rigorous treatment of the question at hand, they are usually
				produced by one individual or a relatively small group of individuals. They are moreover scattered, and do not 
				exist under one umbrella with other issues relating to the subject of the question.
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				A main goal of Sourcebase is to develop and provide the public with the most organized, rigorous, and comprehensive 
				treatments of important issues in politics, science, and other domains, in a form which mimics as closely as possible
				the structure of knowledge and the mechanism of understanding in the human mind. 
				<br><br>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				<h3>How does it work?</h3>
			</div>
		</div>
		<div class="row about">
			<div class="col-sm-12">
				Instead of a single article in which
				information is presented in an explicitly linear form (even if the content is not linear), Sourcebase constructs issues
				in a pyramid-like structure in which an issue is presented, and all legitimate claims that might contribute to the 
				resolution of the issue are presented as discrete, yet connected objects under the umbrella of the issue. This 
				structure allows the claims themselves to be subjected to scrutiny and analysis, which may support or discredit the 
				claim about the issue's subject. Under the umbrella of each claim, arguments can be presented to either support or 
				undermine the claim.  
				<br><br>
			</div>
		</div>
	</div><!-- /.row -->


      <!-- START THE FEATURETTES -->

     
{% endblock content %}

{% block scripts %}
	<script>
		var menuid = "navbar-about";
		$(function() {
		    $('#' + menuid).addClass("active");
		});
	</script>
{% endblock scripts %}