{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
<div class="row">
<div class="col-xs-12">
<a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Tags <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</a>
<hr>
</div>
</div>
<div class="row">
<div class="col-xs-12">
<div class="collapse" id="collapseExample">
            <div class="well">
            <h5>Example 1 - Creating a basic Taggle</h5>
            <div class="input textarea " id="example1"></div>
        </div>
  <hr>
</div>
</div>
</div>
<script src="{% static 'sourcebasesite/taggle/js/jquery-1.10.1.js' %}"></script>
<script src="{% static 'sourcebasesite/taggle/js/jquery-ui.js' %}"></script>
<script src="{% static 'sourcebasesite/taggle/js/rainbow-custom.min.js' %}"></script>
<script src="{% static 'sourcebasesite/taggle/js/taggle.min.js' %}"></script>
<script type="text/javascript">
new Taggle('example1');

</script>
{% endblock content %}

{% block scripts %}
	<script>
		var menuid = "navbar-read";
		$(function() {
		    $('#' + menuid).addClass("active");
		});
	</script>
{% endblock scripts %}