{% extends 'base.html' %}

{% load static %}




{% block content %}
<div class="row">
	<div class="col-xs-12">
		{% if error %}
		<h3>{{error}}</h3>
		{% endif %}
	</div>

</div>
<div class="row">
	<div class="col-xs-12">
		<a href="{% url 'sourcebasesite:editSource' source.key.id %}" class="btn btn-outline-primary" role="button">Edit Source</a>

		<hr>

	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="collapse" id="collapseExample">
		  	<div class="well">
				{% for tag in tags %}
					| <a href="{% url 'sourcebasesite:source' %}?q={{ tag.title }}">
						{{ tag.title }}
					</a> | 
				{% endfor %}
		  	</div>
		  <hr>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h2>{{ source.title | safe }} </h2>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
	 	{{ source.description | safe }} 
	</div>
</div>

        	

{% endblock content %}

{% block scripts %}
	<script>
		var menuid = "navbar-source";
		$(function() {
		    $('#' + menuid).addClass("active");
		});
	</script>
{% endblock scripts %}